// imports
@import "./global";

#about {
  width: 100%;
}
.top_skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  color: $darkFont;
  font-weight: 700;
  margin-bottom: 3rem;

  .skill_details {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  width: 17rem;
  height: 15rem;
}

.icon-box {
  margin: 2rem 2rem 0.5rem 2rem;
  padding: 1rem 2rem;
  background-color: $lightPurple;
  border-radius: $mediumRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;
  .icon {
    fill: $light;
  }
}

.details {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

.summary {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.profile-img {
  width: 100%;
  height: auto;
  border-radius: $circle;
}

.personal-info {
  text-align: center;
  margin-top: 1rem;
  line-height: 1.6rem;
}

.technical {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.skill-bar {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: #d6d1db;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light;
  .label {
    background-color: $lightPurple;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    width: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .fill {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #3c364b;
  }

  .percentage {
    color: $lightPurple;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 750px) {
  .technical {
    width: 25rem;
  }
}
