@import "./global";

button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0rem 1rem;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  height: 4rem;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 1px solid rgba(123, 241, 47, 0.5);
  }
  &:hover {
    background-color: rgba(123, 241, 47, 0.5);
    border: none;
  }
}
