@import "./global";

button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0rem 1rem;
  border-radius: $smallRadius;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  height: 4rem;
  -webkit-box-shadow: $mediumShadow;
  -moz-box-shadow: $mediumShadow;
  box-shadow: $mediumShadow;

  &:active {
    outline: none;
    border: none;
  }

  &:hover {
    background-color: $lightGreen;
    border: none;
  }
}
