@import "./global";
#contact {
  background-color: #27232e;
  justify-content: flex-start;
  align-items: center;
}

.contact-header {
  color: $mediumLight;
  margin-top: 3rem;
  width: 30rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $light;
  padding: 0 5rem 5rem 5rem;
  width: 70rem;

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  label {
    width: 15%;
    font-size: 1.2rem;
    line-height: 140%;
    margin-top: 1.5rem;
    margin-right: 1rem;
    text-align: right;
  }

  .field {
    color: $light;
    background-color: rgb(24, 21, 31);
    font-size: 1.2rem;
    line-height: 140%;
    padding: 0.5rem 1rem;
    width: 80%;
    caret-color: $light;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 1.5rem;

    &::placeholder {
      color: $mediumLight;
    }

    &:focus {
      outline: 1px solid rgba(123, 241, 47, 0.5);
    }
  }

  textarea {
    height: 18rem;
  }

  #btn-submit {
    width: fit-content;
    padding: 1rem;
    font-size: 1.4rem;
  }

  .button-box {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 750px) {
  .contact-header {
    width: 80%;
  }

  label {
    display: none;
    width: 0%;
  }

  .contact-form {
    width: 35rem;
  }

  .button-box {
    margin-right: 1.9rem;
  }
}

@media screen and (max-width: 350px) {
  .contact-form {
    width: 30rem;
  }
}
