@import "./global";

#contact {
  position: relative;
  background-color: #27232e;
  justify-content: flex-start;
  align-items: center;
}

.contact-header {
  color: $mediumLight;
  margin: 2rem 0;
  padding: 0 2rem;
  text-align: center;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border-radius: $smallRadius;
  box-sizing: border-box;
  resize: vertical;
  color: $light;
  background-color: $darkest;
  font-size: 1.2rem;
  line-height: 140%;
  padding: 0.5rem 1rem;
  caret-color: $light;
  border: none;
  border-radius: $smallRadius;
  -webkit-box-shadow: $mediumShadow;
  -moz-box-shadow: $mediumShadow;
  box-shadow: $mediumShadow;

  &::placeholder {
    color: $mediumLight;
  }
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  font-size: 1.4rem;
  padding: 12px 20px;
  border-radius: $smallRadius;
  cursor: pointer;
  background-color: transparent;
  color: $light;
  float: right;
  border: 1px solid $light;
  &:hover {
    background-color: $green;
    border-color: transparent;
  }
}

form {
  padding-bottom: 3rem;
}

/* Style the container */
.container {
  color: $light;
  width: calc(100vw - 800px);
  min-width: 25rem;
}

/* Floating column for labels: 20% width */
.col-20 {
  float: left;
  width: 20%;
  text-align: right;
}

/* Floating column for inputs: 80% width */
.col-80 {
  float: left;
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 1rem;
}

.home-scroll-up {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  .col-15,
  .col-85,
  input[type="submit"] {
    width: 100%;
  }

  .col-15 {
    text-align: left;
  }

  .row:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
