@import "./global";

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $darkest;
  height: 10rem;
  width: 100%;
  color: $light;
}

#icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.footer-icon {
  font-size: 1.8rem;
  color: $light;
}

.footer-icon_box {
  cursor: pointer;
  color: $mediumLight;
  background-color: $lightPurple;
  padding: 1rem 1.3rem;
  border-radius: $smallRadius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: $lightShadow;
  -moz-box-shadow: $lightShadow;
  box-shadow: $lightShadow;

  &:hover {
    color: $mediumLight;
    background-color: $mediumPurple;
  }
}

.footer-name {
  margin-top: 1rem;
  color: $mediumLight;
}

@media screen and (max-width: 600px) {
}
