@import "./global";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkest;
  height: 15rem;
  width: 100%;
  color: $light;
}

.link-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

#icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.footer-icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: $light;
}

.footer-icon_box {
  height: 1.4rem;
  cursor: pointer;
  color: $mediumLight;
  border-radius: $smallRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &:hover {
    color: $green;

    .footer-icon {
      color: $green;
    }
  }
}

.footer-name {
  margin-top: 1rem;
  color: $mediumLight;
}

.link-details {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: $mediumLight;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
}
