// imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

// colors
$primary: #30a0ee;
$light: #f5f8fa;
$mediumLight: #bfd2e3;
$medium: #657786;
$dark: #100c21;
$darkest: rgb(23, 20, 29);
$darkFont: rgb(33, 31, 38);
$white: #fff;
$green: #7bf12f;
$lightGreen: rgba(123, 241, 47, 0.5);
$lightPurple: #524b63;
$mediumPurple: #433d50;

//box-shadows
$lightShadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
$mediumShadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

//border-radiuses
$smallRadius: 5px;
$mediumRadius: 10px;
$circle: 50%;
// resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition: 0.15s;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
// fonts
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: $primary;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: lighten($primary, 5%);
  }
}

input[type="text"],
select,
textarea,
button {
  &:focus {
    outline: 1px solid $lightGreen;
  }
}

// globals

#app {
  margin: 0;
  width: 100%;
}

.section_header {
  margin-top: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  color: $darkFont;
}

.header_bar {
  background-color: $darkFont;
  width: 6rem;
  height: 4px;
  margin-top: 1rem;
}

section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.color-text {
  color: $green;
}
