// imports
@import "./global";

header {
  position: relative;
  background-color: $darkest;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.home {
  position: absolute;
  top: 5rem;
}

#particles-js {
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 30rem;
}

@media screen and (max-width: 940px) {
  .header_text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 750px) {
  .header_text {
    font-size: 1.2rem;
  }
}

.name {
  color: $green;
}

.arrow {
  fill: $light;
  width: 40px;
}

.button {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 1.2rem;
    height: 2.4rem;
  }
}
.icon {
  margin-left: 0.5rem;
  margin-top: 0.75rem;
}
.button:hover {
  .icon {
    transition: 0.5s;
    transform: rotate(90deg) translate(-0.25rem, -0.25rem);
  }
}
