// imports
@import "./global";

.project-container {
  position: relative;
  background-color: rgb(46, 41, 58);
  margin: 0;
  padding: 0;
  min-height: 80vh;
}
nav {
  position: fixed;
  z-index: 999;
  background-color: $lightPurple;
  display: flex;
  width: 100%;
  height: 3.3rem;
  justify-content: space-between;
  align-items: center;
  color: rgb(193, 192, 198);
  letter-spacing: 2px;
  font-weight: bold;
  padding-left: 2rem;
  transition: opacity 0.5s ease;

  .menu {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 20rem;
    padding: 2rem 2rem 2rem 1rem;

    &.active {
      background-color: $darkFont;
    }

    &:hover {
      color: $light;
    }
  }

  .menu-options {
    width: 20rem;
    border-radius: $smallRadius;
    position: absolute;
    top: 3.3rem;
    right: 0rem;
    z-index: 999;
    background-color: $lightPurple;
    padding-top: 1rem;
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
  }

  .slide-enter,
  .slide-leave-to {
    transform: scaleY(0);
  }

  .other-project {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    a {
      color: inherit;
    }
    &:hover {
      background-color: $darkFont;
    }
  }

  .btn-back {
    font-size: 1.4rem;
    color: rgb(193, 192, 198);

    &:hover {
      color: $mediumLight;
      transform: translateX(-5px);
    }
  }
}

.project-content {
  position: relative;
  width: 100%;
  color: rgb(193, 192, 198);
  display: flex;
  flex-direction: column;
  // padding: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 6rem;
}

.project-header {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 0 2rem 0;
  text-align: center;

  h5 {
    font-weight: lighter;
  }
}

.other-project-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  .project-link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }

  .other-project {
    cursor: pointer;
    padding: 1rem 2rem;
    width: fit-content;
    text-transform: none;
    background-color: rgba(19, 13, 26, 0.4);
    border-radius: $smallRadius;
    -webkit-box-shadow: $mediumShadow;
    -moz-box-shadow: $mediumShadow;
    box-shadow: $mediumShadow;
    a {
      color: inherit;
    }
    &:hover {
      transform: translateY(2px);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.slideshow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 20rem;

  .slideshow-content {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .btn-slideshow {
    cursor: pointer;
    background-color: transparent;
    color: $light;
    filter: drop-shadow(0 5px 5px $dark);

    &.disabled {
      visibility: hidden;
    }

    &.prev {
      margin-right: 1rem;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 20px solid $light;
      border-bottom: 10px solid transparent;

      &:hover {
        border-right: 20px solid $mediumLight;
        transform: translateX(-2px);
      }
    }

    &.next {
      margin-left: 1rem;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid $light;
      border-bottom: 10px solid transparent;

      &:hover {
        border-left: 20px solid $mediumLight;
        transform: translateX(2px);
      }
    }
  }

  .slideshow-pagination {
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pagination-dot {
    height: 1rem;
    width: 1rem;
    background-color: $dark;
    border-radius: $circle;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &.active {
      background-color: $light;
    }
  }
}

.slideshow-image {
  border-radius: $mediumRadius;
  width: 80%;
  height: auto;
  -webkit-box-shadow: $mediumShadow;
  -moz-box-shadow: $mediumShadow;
  box-shadow: $mediumShadow;
}

.responsibilities {
  border-radius: $smallRadius;
  width: 25%;
  background-color: rgba(19, 13, 26, 0.4);
  padding: 2rem;
  h3 {
    width: 100%;
    text-align: left;
  }
  ul {
    width: 100%;
    margin: 5px;
    padding-left: 0;
    list-style-type: none;

    li {
      text-align: left;
      margin-left: 0.5rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .project-header {
    h1 {
      font-size: 1.2rem;
    }
    h5 {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
  .content {
    .responsibilities {
      font-size: 0.8rem;
      h3 {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .content {
    flex-direction: column-reverse;

    .responsibilities {
      margin-top: 2rem;
      width: fit-content;

      h3 {
        font-size: 1.4rem;
      }
    }
  }
}
