@import "./global";

.scroll-up {
  height: 3rem;
  width: 3rem;
  background-color: $green;
  color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: $smallRadius;
  -webkit-box-shadow: $lightShadow;
  -moz-box-shadow: $lightShadow;
  box-shadow: $lightShadow;
  z-index: 99;

  &:hover {
    background-color: rgb(32, 155, 50);
  }

  .arrow-icon {
    font-size: 2rem;
  }
}
